<div class="sidebar-nav well">
  <ul class="nav nav-list">
    <%= nav_link('fonds', fonds_path) %>
    <%= nav_link('creators', creators_path) %>
    <%= nav_link('custodians', custodians_path) %>
    <li class="divider"></li>
    <%= nav_link('institutions', institutions_path) %>
    <%= nav_link('document_forms', document_forms_path) %>
    <li class="divider"></li>
    <%= nav_link('projects', projects_path) %>
  </ul>
</div>
