<title><%= @fond.name %></title>

<h1>
  <%= @fond.name %>
  <span>(<%= @fond.preferred_event.try(:full_display_date) || 's.d.' %>)</span>
</h1>

<% total_count = @fond.is_root? ? @fond.active_descendant_units_count : @fond.units_count %>
<% if total_count > 0 %>
  <%= number_with_delimiter(total_count) + " " + t('view_unit').downcase %>
  <%= raw '<span class="muted">(totale del complesso)</span>' if @fond.is_root? %></p>
<% end %>

<% if @fond.fond_type.present? %>
<p>
  <em><%= @fond.fond_type.titleize %></em>
</p>
<% end %>

<% if @fond.other_names.present? %>
<p>
  <strong><%= t('other_names') %></strong>:<br>
    <ul>
    <% @fond.other_names.each do |on_name| %>
        <li><%= on_name.name %>  (<%= on_name.qualifier %>) | <%= t('note') %>: <%= on_name.note %></li>
    <% end %>
    </ul>
</p>
<% end %>

<% if @fond.length.present? %>
<p>
  <strong><%= t('length') %></strong>:
  <%= @fond.length %>
</p>
<% end %>

<% if @fond.extent.present? %>
<p>
  <strong><%= t('extent') %></strong>:
  <%= @fond.extent %>
</p>
<% end %>

<% if @fond.is_root? %>
  <% if @fond.abstract.present? %>
    <p>
      <strong><%= t('abstract') %></strong>:
      <%= raw textilize(@fond.abstract) %>
    </p>
  <% end %>
<% end %>

<% if @fond.description.present? %>
  <p><%= raw textilize_with_entities(@fond.description) %></p>
<% end %>

<% if @fond.history.present? %>
  <p>
    <strong><%= t('history') %></strong>:
    <%= raw textilize(@fond.history) %>
  </p>
<% end %>

<% if @fond.arrangement_note.present? %>
<p>
  <strong><%= t('arrangement_note') %></strong>:
  <%= raw textilize(@fond.arrangement_note) %>
</p>
<% end %>

<% if @fond.fond_langs.present? %>
<p>
  <strong><%= t('fond_langs')%></strong>:
  <ul>
  <% @fond.fond_langs.each do |fl_name| %>
    <li><%= fl_name.code %></li>
  <% end %>
  </ul>
</p>
<% end %>

<% if @fond.fond_owners.present? %>
<p>
  <strong><%= t('fond_owners')%></strong>:
  <ul>
  <% @fond.fond_owners.each do |fo_name| %>
    <li><%= fo_name.owner %></li>
  <% end %>
  </ul>
</p>
<% end %>

<% if @fond.related_materials.present? %>
<p>
  <strong><%= t('related_materials') %></strong>:
  <%= raw textilize(@fond.related_materials) %>
</p>
<% end %>

<% if @fond.fond_urls.present? %>
<p>
  <strong><%= t('fond_urls')%></strong>:
  <ul>
    <% @fond.fond_urls.each do |fu_name| %>
      <li><%= fu_name.url %> (<%= fu_name.note %>)</li>
    <% end %>
  </ul>
</p>
<% end %>

<% if @fond.fond_identifiers.present? %>
<p>
  <strong><%= t('fond_identifiers')%></strong>:
  <ul>
    <% @fond.fond_identifiers.each do |fi_name| %>
      <li>
        <%= fi_name.identifier %>
        <%= "(" + fi_name.identifier_source + ")" if fi_name.identifier_source.present? %>
        <%= "| " + t('note') + ": " + fi_name.note if fi_name.note.present? %>
      </li>
    <% end %>
  </ul>
</p>
<% end %>

<% if @fond.access_condition.present? %>
<p>
  <strong><%= t('access_condition') %></strong>:
  <%= raw textilize(@fond.access_condition) %>
</p>
<% end %>

<% if @fond.access_condition_note.present? %>
<p>
  <strong><%= t('access_condition_note') %></strong>:
  <%= raw textilize(@fond.access_condition_note) %>
</p>
<% end %>

<% if @fond.use_condition.present? %>
<p>
  <strong><%= t('use_condition')%></strong>:
  <%= raw textilize(@fond.use_condition) %>
</p>
<% end %>

<% if @fond.use_condition_note.present? %>
<p>
  <strong><%= t('use_condition_note')%></strong>:
  <%= raw textilize(@fond.use_condition_note) %>
</p>
<% end %>

<% if @fond.preservation.present? %>
<p>
  <strong><%= t('preservation') %></strong>:
  <%= raw textilize(@fond.preservation) %>
</p>
<% end %>

<% if @fond.preservation_note.present? %>
<p>
  <strong><%= t('preservation_note')%></strong>:
  <%= raw textilize(@fond.preservation_note) %>
</p>
<% end %>

<%= render 'shared/rel_custodians', :collection => @fond.custodians %>
<%= render 'shared/rel_creators', :collection => @fond.creators %>
<%= render 'shared/rel_projects', :collection => @fond.projects %>

<%= render "shared/sources", :collection => @fond.sources %>
<%= render 'shared/editors', :collection => @fond.fond_editors %>

<%= permalink @fond %>